.border-1 {
     border-width: 1px;
}
.border-t-1 {
     border-top-width: 1px;
}
.border-b-1 {
     border-bottom-width: 1px;
}
.border-l-1 {
     border-left-width: 1px;
}
.border-r-1 {
     border-right-width: 1px;
}
.border-c {
     border-color: #f97e6c;
}

.text-md {
     font-size: 17px;
}

.constructor-page {
     width: 100%;
     display: flex;
     justify-content: center;
     padding: 2.5rem 0;
}

.hover__bg-main:hover {
     background-color: #f97e6c !important;
}
.hover__color-main:hover {
     color: #f97e6c !important;
}
