.account-page {
     display: flex;
     justify-content: center;
     width: 100%;
     padding: 2.5rem 0;
}

.sign-page {
     display: flex;
     flex-direction: column;
     align-items: center;
}

.sign-page .form-sign {
     width: 60%;
     margin-top: 4rem;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.facebook {
     background-color: #0d6efd;
}